{{ define "gate" }}
<div id="gate" class="w-full h-full flex items-center">
    <div class="flex flex-col gap-2">
        {{ if .LoggedIn }}
        <span>You're Logged In</span>
        {{ else if eq .PageData.InnerState "register" }}
        <h1 class="text-6xl">Join me in this journey</h1>
        <form class="flex flex-col gap-2">
            <div class="flex flex-col gap-1 w-1/2">
                <label for="name">Name</label>
                <input class="p-2 border-2 border-stone-300 bg-stone-100 focus:bg-stone-50 focus:outline-none" type="text" id="name" name="name" autocomplete="off">
            </div>
            <div class="flex flex-col gap-1 w-1/2">
                <label for="email">Email</label>
                <input class="p-2 border-2 border-stone-300 bg-stone-100 focus:bg-stone-50 focus:outline-none" type="text" id="email" name="email" autocomplete="off">
            </div>
            <div class="flex flex-col gap-1 w-1/2">
                <label for="password">Password</label>
                <input class="p-2 border-2 border-stone-300 bg-stone-100 focus:bg-stone-50 focus:outline-none" type="password" id="password" name="password" autocomplete="off">
            </div>
            <div>
                <button hx-post="/gate" hx-vals='{"from": "register"}' hx-target="#gate" class="self-start p-2 bg-stone-200" type="submit">Join</button>
                <button hx-put="/gate" hx-vals='{"to": "login"}' hx-target="#gate" class="self-start p-2 bg-stone-200" type="button">Login</button>
            </div>
        </form>
        {{ else if eq .PageData.InnerState "login" }}
        <h1 class="text-6xl">Welcome! Glad you came back</h1>
        <form class="flex flex-col gap-2">
            <div class="flex flex-col gap-1 w-1/2">
                <label for="email">Email</label>
                <input class="p-2 border-2 border-stone-300 bg-stone-100 focus:bg-stone-50 focus:outline-none" type="text" id="email" name="email" autocomplete="off">
            </div>
            <div class="flex flex-col gap-1 w-1/2">
                <label for="password">Password</label>
                <input class="p-2 border-2 border-stone-300 bg-stone-100 focus:bg-stone-50 focus:outline-none" type="password" id="password" name="password" autocomplete="off">
            </div>
            <div class="flex gap-1 w-1/2">
                <input type="checkbox" id="remember" name="remember" value="remember">
                <label for="remember">Remember Me</label>
            </div>
            <div>
                <button hx-post="/gate" hx-vals='{"from": "login"}' hx-target="body" class="self-start p-2 bg-stone-200" type="submit">Continue</button>
                <button hx-put="/gate" hx-vals='{"to": "register"}' hx-target="#gate" class="self-start p-2 bg-stone-200" type="button">Register</button>
            </div>
        </form>
        {{ end }}
    </div>
</div>
{{ end }}