{{ define "vacuus-script" }}
    {{ if .PageData.BackgroundAnimation }}
        {{ if eq .PageData.BackgroundAnimation "random-bouncing-circles" }}
            <script defer>
                function createClass() {
                    return class MovableObject {
                        constructor(element, xMove, yMove) {
                            this.element = element
                            this.xPos = Math.random() * 1500
                            this.yPos = Math.random() * 600
                            this.goLeft = Math.random() > 0.5
                            this.goUp = Math.random() > 0.5
                            this.xMove = xMove
                            this.yMove = yMove
                        }

                        move() {
                            if (this.element.offsetWidth + this.element.offsetLeft > window.innerWidth) {
                                this.goLeft = true
                            } else if (this.element.offsetLeft < 0) {
                                this.goLeft = false
                            }

                            if (this.element.offsetHeight + this.element.offsetTop > window.innerHeight) {
                                this.goUp = true
                            } else if (this.element.offsetTop < 0) {
                                this.goUp = false
                            }

                            this.xPos = this.goLeft ? this.xPos - this.xMove : this.xPos + this.xMove
                            this.yPos = this.goUp ? this.yPos - this.yMove : this.yPos + this.yMove

                            this.element.style.left = `${this.xPos}px`
                            this.element.style.top = `${this.yPos}px`
                        }

                        remove() {
                            clearInterval(this.intervalId)
                            this.element.remove()
                        }
                    }
                }

                function createMovableObject(container, xMove, yMove, id) {
                    const MovableObject = createClass()
                    const obj = document.createElement('div')
                    const classes = ["obj", "absolute", "bg-neutral-200", "bg-opacity-20", "rounded-full"]
                    obj.id = "random-bouncing-circles-"+id
                    obj.classList.add(...classes)
                    obj.style.width = "250px"
                    obj.style.height = "250px"
                    container.appendChild(obj)
                    return new MovableObject(obj, xMove, yMove)
                }

                function initialize() {
                    const container = document.getElementById('scriptHolder')
                    let objects = []
                    for (let i = 0; i < 8; i++) {
                        if (container.querySelector("#random-bouncing-circles"+i)) {
                            return
                        }
                        const xMove = Math.random() * (10 - 5) + 5
                        const yMove = Math.random() * (10 - 5) + 5
                        let object = createMovableObject(container, xMove, yMove, i)
                        objects.push(object)
                        object.intervalId = setInterval(() => object.move(), 10)
                    }

                    const observer = new MutationObserver((mutationsList, observer) => {
                        for (const mutation of mutationsList) {
                            if (mutation.removedNodes.length > 0) {
                                for (const node of mutation.removedNodes) {
                                    if (container) {
                                        if (node === container || container.contains(node)) {
                                            objects.forEach(obj => obj.remove())
                                            objects = []
                                            observer.disconnect()
                                            break
                                        }
                                    } else {
                                        return
                                    }
                                }
                            }
                        }
                    })
                    
                    observer.observe(document.body, { childList: true, subtree: true })
                }
                
                initialize()
            </script>
        {{ else if eq .PageData.BackgroundAnimation "circling-circles" }}
            <script defer>
                function createNodes(nodeCount) {
                    let nodes = []
                    for (let i = 0; i <= nodeCount; i++) {
                        nodes.push(i / nodeCount * 2 * Math.PI)
                    }
                    return nodes
                }

                function initializev2 (data) {
                    class Circle {
                        constructor(circleProp) {
                            this.circle = circleProp
                            this.name = this.circle.name
                            this.element = document.createElement("div")
                            this.element.classList.add(...this.circle.css)
                            this.element.style.width = `${this.circle.width}px`
                            this.element.style.height = `${this.circle.height}px`
                        }

                        place(init) {
                            const x = Math.cos(this.circle.nodes[this.circle.pos]) * this.circle.radius
                            const y = Math.sin(this.circle.nodes[this.circle.pos]) * this.circle.radius
                            this.element.style.left = `${this.circle.centerPoint.x + x}px`
                            this.element.style.top = `${this.circle.centerPoint.y + y}px`
                            if (init) {
                                this.element.style.transform = "translate(-50%, -50%)"
                                this.circle.canvas.appendChild(this.element)
                            }
                        }

                        move(animationType) {
                            if (animationType.rotate) {
                                this.rotate(animationType.rotate.direction)
                            }
                            if (animationType.inout) {
                                this.inout(animationType.inout.inner, animationType.inout.outer, animationType.inout.to, animationType.inout.amplitude)
                            }
                        }

                        rotate(direction) {
                            if (direction === "right" && this.circle.pos < this.circle.nodeCount) {
                                this.circle.pos += 1
                            } else if (direction === "left" && this.circle.pos >= 1) {
                                this.circle.pos -= 1
                            } else if (this.circle.pos <= 0) {
                                this.circle.pos = this.circle.nodeCount
                            } else if (this.circle.pos >= this.circle.nodeCount) {
                                this.circle.pos = 0 
                            }
                            this.place(false)
                        }

                        inout(inner, outer, to, amplitude) {
                            if (!this.animation_inout_to) {
                                this.animation_inout_to = to
                            }
                            if (this.animation_inout_to === "outer") {
                                this.circle.radius += amplitude
                            } else if (this.animation_inout_to === "inner") {
                                this.circle.radius -= amplitude
                            }

                            if (this.circle.radius >= outer) {
                                this.animation_inout_to = "inner"
                            } else if (this.circle.radius <= inner) {
                                this.animation_inout_to = "outer"
                            }
                            this.place(false)
                        }
                    }

                    const scriptHolder = document.getElementById("scriptHolder")
                    const nodes = createNodes(data.nodeCount)
                    const circlesData = {}

                    data.batches.forEach((batch) => {
                        circlesData[batch.name] = []
                        // Create Circles
                        for (let i = 0; i < batch.circleCount; i++) {
                            const pos = Math.floor(data.nodeCount / batch.circleCount * i)
                            const circle = new Circle({
                                width: batch.width,
                                height: batch.height,
                                centerPoint: batch.centerPoint,
                                radius: batch.radius,
                                css: batch.cssClass,
                                nodeCount: data.nodeCount,
                                nodes,
                                pos,
                                canvas: scriptHolder,
                                name: batch.name+i
                            })
                            circle.place(true)
                            circle.element.innerHTML = i
                            circlesData[batch.name].push(circle)

                            circle.intervalId = setInterval(() => {
                                circle.move(batch.animationType)
                            }, batch.speed);
                        }
                    })
                }

                initializev2({
                    nodeCount: 1000,
                    batches: [
                        {
                            name: "beeg",
                            radius: 300,
                            centerPoint: {
                                x: window.innerWidth/2,
                                y: window.innerHeight/2
                            },
                            circleCount: 13,
                            width: 120,
                            height: 120,
                            speed: 5,
                            animationType: {
                                rotate: {
                                    direction: "right"
                                }
                            },
                            cssClass: ["absolute", "bg-neutral-300", "bg-opacity-20", "rounded-full", "flex", "justify-center", "items-center", "text-rose-900"]
                        },
                        {
                            name: "smol",
                            radius: 400,
                            centerPoint: {
                                x: window.innerWidth/2,
                                y: window.innerHeight/2
                            },
                            circleCount: 30,
                            width: 40,
                            height: 40,
                            speed: 10,
                            animationType: {
                                rotate: {
                                    direction: "left"
                                },
                                inout: {
                                    inner: 250, 
                                    outer: 500,
                                    to: "inner",
                                    amplitude: 1
                                }
                            },
                            cssClass: ["absolute", "bg-neutral-300", "bg-opacity-20", "rounded-full", "flex", "justify-center", "items-center", "text-rose-900"]
                        },
                        {
                            name: "smol-left",
                            radius: 150,
                            centerPoint: {
                                x: window.innerWidth/4,
                                y: window.innerHeight/2
                            },
                            circleCount: 30,
                            width: 40,
                            height: 40,
                            speed: 2,
                            animationType: {
                                rotate: {
                                    direction: "left"
                                },
                                inout: {
                                    inner: 50, 
                                    outer: 300,
                                    to: "inner",
                                    amplitude: 1
                                }
                            },
                            cssClass: ["absolute", "bg-neutral-300", "bg-opacity-20", "rounded-full", "flex", "justify-center", "items-center", "text-rose-900"]
                        },
                        {
                            name: "smol-right",
                            radius: 150,
                            centerPoint: {
                                x: window.innerWidth*3/4,
                                y: window.innerHeight/2
                            },
                            circleCount: 30,
                            width: 40,
                            height: 40,
                            speed: 2,
                            animationType: {
                                rotate: {
                                    direction: "left"
                                },
                                inout: {
                                    inner: 50, 
                                    outer: 300,
                                    to: "inner",
                                    amplitude: 1
                                }
                            },
                            cssClass: ["absolute", "bg-neutral-300", "bg-opacity-20", "rounded-full", "flex", "justify-center", "items-center", "text-rose-900"]
                        }
                    ]
                })
            </script>
        {{ end }}
    {{ end }}
{{ end }}