{{ define "opus-task" }}
<div x-data="{ delete_task{{ .ID }}: false, open_task{{ .ID }}: false, add_child_task{{ .ID }}: false }" class="w-full flex flex-col">
    <div hx-get="/r/opus/task/{{.ID}}" hx-target="#opus-main" hx-swap="outerHTML" class="w-full px-4 py-2 flex justify-between hover:bg-stone-300 hover:cursor-pointer">
        <span x-show="!delete_task{{ .ID }}" class="truncate">{{ Repeat "-" .Inset }}>{{ .Title }}</span>
        <span x-show="delete_task{{ .ID }}" class="text-rose-400">Delete This Task ?</span>
        <div class="flex gap-1">
            <button x-show="!delete_task{{ .ID }}" x-on:click="delete_task{{ .ID }} = true"><i class="fa-solid fa-circle-minus"></i></button>
            <button x-show="!delete_task{{ .ID }}" x-on:click="add_child_task{{ .ID }} = true"><i class="fa-solid fa-circle-plus"></i></button>
            <button x-show="() => {return (!delete_task{{ .ID }} && !open_task{{ .ID }})}" x-on:click="open_task{{ .ID}} = true"><i class="fa-solid fa-circle-chevron-down"></i></button>
            <button x-show="() => {return (!delete_task{{ .ID }} && open_task{{ .ID }})}" x-on:click="open_task{{ .ID}} = false"><i class="fa-solid fa-circle-chevron-up"></i></button>
            <!-- Category Delete Confirmation -->
            <button x-show="delete_task{{ .ID }}" x-on:click="delete_task{{ .ID }} = false"><i class="fa-solid fa-circle-xmark"></i></button>
            <button x-show="delete_task{{ .ID }}" hx-delete="/r/opus/task/{{ .ID }}" hx-target="#opus-category" hx-swap="outerHTML"><i class="fa-solid fa-circle-check"></i></button>
        </div>
    </div>
    <div x-show="add_child_task{{.ID}}" class="w-full px-4">
        <form id="child_task{{ .ID }}" class="w-full flex gap-1">
            <input class="w-5/6 p-2" type="text" name="title" placeholder="New Task" autocomplete="off" title="Task Title Inner" required>
            <input class="w-1/6 p-2" type="number" name="priority" placeholder="0-9" autocomplete="off" title="Task Priority">
            <button x-on:click="add_child_task{{ .ID }} = false" type="button"><i class="fa-solid fa-circle-xmark text-rose-400"></i></button>
            <button x-on:click="
                add_child_task{{ .ID }} = false;
                $nextTick(() => { document.getElementById('child_task{{ .ID }}').reset() });
            " type="submit" hx-post="/r/opus/task" hx-target="#opus-category" hx-vals='{"parent_type": "task", "category_id": "{{ .CategoryID }}", "parent_id": "{{ .ID }}"}' hx-swap="outerHTML"><i class="fa-solid fa-circle-check text-emerald-400"></i></button>
        </form>
    </div>
    <!-- Task List on Category -->
    {{ if .ChildrenTasks }}
    <div x-show="open_task{{ .ID }}" class="w-full flex flex-col">
        {{ range .ChildrenTasks }}
            {{ template "opus-task" . }}
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}