{{ define "opus-main" }}
<main id="opus-main" class="w-full h-full bg-stone-600 grid grid-cols-2 grid-rows-2 gap-1">
    {{ if .PageData.TaskOpen }}
    <!-- TASK DETAILS -->
    <div class="p-4 col-span-1 row-span-1 bg-stone-300">
        {{ if eq .PageData.TaskDetail "default" }}
        <div class="w-full h-full flex flex-col gap-2">
            <h2 class="text-2xl lg:text-3xl xl:text-4xl">Details</h2>
            <textarea class="h-full bg-transparent resize-none text-justify overflow-hidden" disabled aria-disabled="true">{{ .PageData.Task.Details }}</textarea>
            <div class="flex-1"></div>
            <button hx-put="/r/opus/state" hx-vals='{ "id": "{{ .PageData.Task.ID }}", "section": "detail", "state": "add" }' hx-target="#opus-main" hx-swap="outerHTML" class="p-4 rounded-md border-2 border-stone-600 hover:bg-stone-400 active:bg-stone-500" type="button">Input Details</button>
        </div>
        {{ else if eq .PageData.TaskDetail "add" }}
        <form class="w-full h-full flex flex-col gap-2">
            <h2 class="text-2xl lg:text-3xl xl:text-4xl">Set Task Details</h2>
            <label for="details">Details</label>
            <textarea class="p-2 rounded-md resize-none" rows="5" name="details" id="details">{{ .PageData.Task.Details }}</textarea>
            <label for="start_date">Start Date</label>
            <input class="p-2 rounded-md" type="datetime-local" name="start_date" id="start_date" value="{{ .PageData.StartDate }}">
            <label for="end_date">End Date</label>
            <input class="p-2 rounded-md" type="datetime-local" name="end_date" id="end_date" value="{{ .PageData.EndDate }}">
            <div class="w-full mt-auto flex justify-between">
                <button hx-put="/r/opus/state" hx-vals='{ "id": "{{ .PageData.Task.ID }}", "section": "detail", "state": "default" }' hx-target="#opus-main" hx-swap="outerHTML" class="p-4 rounded-md border-2 border-stone-600 hover:bg-stone-400 active:bg-stone-500" type="button">Cancel</button>
                <button hx-put="/r/opus/task" hx-vals='{ "id": "{{ .PageData.Task.ID }}", "updating": "details" }' hx-target="#opus-main" hx-swap="outerHTML" class="p-4 rounded-md border-2 border-stone-600 hover:bg-stone-400 active:bg-stone-500" type="submit">Submit</button>
            </div>
        </form>
        {{ end }}
    </div>
    <!-- TASK GOALS -->
    <div class="p-4 col-span-1 row-span-1 bg-stone-200">
        {{ if eq .PageData.TaskGoals "default" }}
        <div class="w-full h-full flex flex-col gap-2">
            <h2 class="text-2xl lg:text-3xl xl:text-4xl">Goals</h2>
            <ul class="flex-1 overflow-y-scroll no-scrollbar">
                {{ $pageData := .PageData }}
                {{ range .PageData.Task.TaskGoals }}
                <li class="w-full mb-2 p-4 rounded-md border-2 border-stone-600 hover:bg-stone-400 hover:bg-opacity-50 hover:cursor-pointer">
                    <div class="flex justify-between items-center">
                        {{ .GoalText }}
                        <div class="flex gap-4">
                            <button class="text-stone-600 hover:text-sky-600"  hx-put="/r/opus/state" hx-vals='{ "id": "{{ $pageData.Task.ID }}", "section": "goals", "state": "edit", "data": "{{ .ID }}" }' hx-target="#opus-main" hx-swap="outerHTML">
                                <i class="fa-solid fa-pencil fa-2xl"></i>
                            </button>
                            <button class="text-stone-600 hover:text-emerald-600" hx-put="/r/opus/goal" hx-vals='{ "task_id": "{{ $pageData.Task.ID }}", "id": "{{ .ID }}", "updating": "done"}' hx-target="#opus-main" hx-swap="outerHTML">
                                <i class="fa-solid fa-check fa-2xl"></i>
                            </button>
                            <button class="text-stone-600 hover:text-rose-600" hx-put="/r/opus/goal" hx-vals='{ "task_id": "{{ $pageData.Task.ID }}", "id": "{{ .ID }}", "updating": "delete"}' hx-target="#opus-main" hx-swap="outerHTML">
                                <i class="fa-solid fa-trash fa-2xl"></i>
                            </button>
                        </div>
                    </div>
                </li>
                {{ end }}
            </ul>
            <button class="p-4 rounded-md border-2 border-stone-600 hover:bg-stone-400 active:bg-stone-500" hx-put="/r/opus/state" hx-vals='{ "id": "{{ .PageData.Task.ID }}", "section": "goals", "state": "add" }' hx-target="#opus-main" hx-swap="outerHTML" type="button">Input Goals</button>
        </div>
        {{ else if eq .PageData.TaskGoals "add" }}
        <form class="w-full h-full flex flex-col gap-2">
            <h2 class="text-2xl lg:text-3xl xl:text-4xl">Add Goal</h2>
            <label for="goal_text">Goals</label>
            <textarea class="p-2 rounded-md resize-none" rows="5" name="goal_text" id="goal_text"></textarea>
            <label for="start_date_goal">Start Date</label>
            <input class="p-2 rounded-md" type="datetime-local" name="start_date_goal" id="start_date_goal">
            <label for="end_date_goal">End Date</label>
            <input class="p-2 rounded-md" type="datetime-local" name="end_date_goal" id="end_date_goal">
            <div class="w-full mt-auto flex justify-between">
                <button hx-put="/r/opus/state" hx-vals='{ "id": "{{ .PageData.Task.ID }}", "section": "goals", "state": "default" }' hx-target="#opus-main" hx-swap="outerHTML" class="p-4 rounded-md border-2 border-stone-600 hover:bg-stone-400 active:bg-stone-500" type="button">Cancel</button>
                <button hx-post="/r/opus/task-goal" hx-vals='{ "task_id": "{{ .PageData.Task.ID }}"}' hx-target="#opus-main" hx-swap="outerHTML" class="p-4 rounded-md border-2 border-stone-600 hover:bg-stone-400 active:bg-stone-500" type="submit">Submit</button>
            </div>
        </form>
        {{ else if eq .PageData.TaskGoals "edit" }}
        <form class="w-full h-full flex flex-col gap-2">
            <h2 class="text-2xl lg:text-3xl xl:text-4xl">Edit Goal</h2>
            <label for="goal_text">Goals</label>
            <textarea class="p-2 rounded-md resize-none" rows="5" name="goal_text" id="goal_text">{{ .PageData.TaskGoal.EditText}}</textarea>
            <label for="start_date_goal">Start Date</label>
            <input class="p-2 rounded-md" type="datetime-local" name="start_date_goal" id="start_date_goal" value="{{ .PageData.TaskGoal.EditStartDate }}">
            <label for="end_date_goal">End Date</label>
            <input class="p-2 rounded-md" type="datetime-local" name="end_date_goal" id="end_date_goal" value="{{ .PageData.TaskGoal.EditEndDate }}">
            <div class="w-full mt-auto flex justify-between">
                <button hx-put="/r/opus/state" hx-vals='{ "id": "{{ .PageData.Task.ID }}", "section": "goals", "state": "default" }' hx-target="#opus-main" hx-swap="outerHTML" class="p-4 rounded-md border-2 border-stone-600 hover:bg-stone-400 active:bg-stone-500" type="button">Cancel</button>
                <button hx-put="/r/opus/goal" hx-vals='{ "task_id": "{{ .PageData.Task.ID }}", "id": "{{ .PageData.TaskGoal.EditID }}", "updating": "edit"}' hx-target="#opus-main" hx-swap="outerHTML" class="p-4 rounded-md border-2 border-stone-600 hover:bg-stone-400 active:bg-stone-500" type="submit">Update</button>
            </div>
        </form>
        {{ end }}
    </div>
    <!-- TASK COMPLETION -->
    <div class="p-4 col-span-1 row-span-1 bg-stone-200">
        {{ if eq .PageData.TaskCompletion "default" }}
        <h2 class="text-2xl lg:text-3xl xl:text-4xl">{{ .PageData.Task.Title }}</h2>
        <div class="flex justify-between">
            <h3 class="text-lg lg:text-xl xl:text-2xl mt-5">Goals to Accomplish</h3>
            <h3 class="text-lg lg:text-xl xl:text-2xl mt-5">{{ .PageData.GoalDone }}/{{ .PageData.GoalCount }}</h3>
        </div>
        <div class="w-full flex flex-col">
            <div class="w-full h-8 overflow-hidden flex gap-1 justify-between rounded-full bg-stone-800 border-4 border-stone-800">
                {{ range .PageData.GoalProgress }}
                    {{ if . }}
                        <div class="flex-1 flex-grow bg-stone-600"></div>
                    {{ else }}
                        <div class="flex-1 flex-grow bg-stone-300"></div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
        <h3 class="text-lg lg:text-xl xl:text-2xl mt-5">Days before Expected End Date</h3>
        <div class="w-full flex flex-col">
            <div class="w-full h-8 overflow-hidden flex gap-1 justify-between rounded-full bg-stone-800 border-4 border-stone-800">
                {{ range .PageData.DayProgress }}
                    {{ if . }}
                        <div class="flex-1 flex-grow bg-stone-600"></div>
                    {{ else }}
                        <div class="flex-1 flex-grow bg-stone-300"></div>
                    {{ end }}
                {{ end }}
            </div>
            <div class="w-full flex justify-between">
                <span>{{ TruncateTime .PageData.StartDate }}</span>
                <span>{{ TruncateTime .PageData.EndDate }}</span>
            </div>
        </div>
        {{ end }}
    </div>
    <!-- TASK NOTES -->
    <div class="p-4 col-span-1 row-span-1 bg-stone-300">
        {{ if eq .PageData.TaskNotes "default" }}
        <div class="w-full h-full flex justify-center items-center">
            <button hx-put="/r/opus/state" hx-vals='{ "section": "notes", "state": "add" }' hx-target="#opus-main" hx-swap="outerHTML" class="p-4 border-2 border-stone-600">Input Notes</button>
        </div>
        {{ else if eq .PageData.TaskNotes "add"}}
        <form class="w-full h-full flex flex-col gap-1">
            <h2 class="text-2xl lg:text-3xl xl:text-4xl">Put a Note</h2>
            <label for="notes">Notes</label>
            <textarea class="p-2 rounded-md resize-none" rows="10" name="notes" id="notes"></textarea>
            <div class="w-full mt-auto flex justify-between">
                <button hx-put="/r/opus/state" hx-vals='{ "section": "notes", "state": "default" }' hx-target="#opus-main" hx-swap="outerHTML" class="p-4 rounded-md border-2 border-stone-600 hover:bg-stone-400 active:bg-stone-500" type="submit">Cancel</button>
                <button hx-put="/r/opus/task" hx-vals='{ "id": "{{ .ID }}"}' class="p-4 rounded-md border-2 border-stone-600 hover:bg-stone-400 active:bg-stone-500" type="submit">Submit</button>
            </div>
        </form>
        {{ end }}
    </div>
    {{ else if not .PageData.TaskOpen }}
    <div class="p-4 col-span-2 row-span-2 bg-stone-600">
        <div class="w-full h-full flex justify-center items-center">
            <span class="text-6xl text-stone-200">Please Select a Task</span>
        </div>
    </div>
    {{ end }}
</main>
{{ end }}
