{{ define "opus-task" }}
<div id="opus-task" class="w-full flex flex-col gap-2">
    {{ range . }}
    <div x-data="{ delete_category{{ .ID }}: false, open_category{{ .ID }}: false, add_task{{ .ID }}: false }" class="w-full flex flex-col">
        <div class="w-full flex justify-between">
            <span x-show="!delete_category{{ .ID }}" class="truncate">{{ .Name }}</span>
            <span x-show="delete_category{{ .ID }}" class="text-rose-400">Delete This Category ?</span>
            <div class="flex gap-1">
                <button x-show="!delete_category{{ .ID }}" x-on:click="delete_category{{ .ID }} = true"><i class="fa-solid fa-circle-minus"></i></button>
                <button x-show="!delete_category{{ .ID }}" x-on:click="add_task{{ .ID }} = true"><i class="fa-solid fa-circle-plus"></i></button>
                <button x-show="() => {return (!delete_category{{ .ID }} && !open_category{{ .ID }})}" x-on:click="open_category{{ .ID}} = true"><i class="fa-solid fa-circle-chevron-down"></i></button>
                <button x-show="() => {return (!delete_category{{ .ID }} && open_category{{ .ID }})}" x-on:click="open_category{{ .ID}} = false"><i class="fa-solid fa-circle-chevron-up"></i></button>
                <!-- Category Delete Confirmation -->
                <button x-show="delete_category{{ .ID }}" x-on:click="delete_category{{ .ID }} = false"><i class="fa-solid fa-circle-xmark"></i></button>
                <button x-show="delete_category{{ .ID }}" hx-delete="/opus/category/{{ .ID }}" hx-target="#opus-task" hx-swap="outerHTML"><i class="fa-solid fa-circle-check"></i></button>
            </div>
        </div>
        <div x-show="add_task{{.ID}}" class="w-full">
            <form id="category_task{{ .ID }}" class="w-full flex gap-1">
                <input class="w-5/6 p-2" type="text" name="title" placeholder="New Task" autocomplete="off" title="Task Title" required>
                <input class="w-1/6 p-2" type="number" name="priority" placeholder="0-9" autocomplete="off" title="Task Priority">
                <button x-on:click="add_task{{ .ID }} = false" type="button"><i class="fa-solid fa-circle-xmark text-rose-400"></i></button>
                <button x-on:click="
                    add_task{{ .ID }} = false;
                    $nextTick(() => { document.getElementById('category_task{{ .ID }}').reset() });
                " type="submit" hx-post="/opus/task" hx-target="#opus-task" hx-vals='{"parent_type": "category", "category_id": "{{ .ID }}"}' hx-swap="outerHTML"><i class="fa-solid fa-circle-check text-emerald-400"></i></button>
            </form>
        </div>
        <div x-show="open_category{{ .ID }}" class="w-full flex border-b-2 border-stone-500">
            {{ range .Tasks }}
                <span class="truncate">{{ .Title }}</span>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
{{ end }}