{{ define "opus" }}
<div class="w-full h-full flex">
    <aside class="max-w-[120px] md:max-w-[150px] lg:max-w-[200px] xl:max-w-[250px] w-full flex flex-col bg-stone-100 border-r-2 border-stone-600">
        <div class="w-full py-4 flex justify-center items-center font-extrabold text-6xl border-b-2 border-stone-600">OPUS</div>
        <button hx-get="/projects" hx-target="body" class="p-4 bg-stone-300">
            Back
        </button>
        <div class="flex flex-col gap-1">
            <div class="w-full flex px-4 py-1">
                <input type="checkbox" name="task1" id="my-first-task">My First Task
            </div>
        </div>
    </aside>
</div>
{{ end }}