{{ define "opus" }}
<div id="opus" x-data="{ Opus: {} }" x-init="init()" class="w-full h-full flex">
    <aside class="max-w-[240px] md:max-w-[270px] lg:max-w-[300px] xl:max-w-[350px] w-full flex flex-col bg-stone-100 border-r-2 border-stone-600">
        <div class="w-full py-4 flex justify-center items-center font-montserrat font-extrabold text-xl md:text-2xl lg:text-4xl xl:text-6xl border-b-2 border-stone-600">OPUS</div>
        <button hx-get="/projects" hx-target="body" class="p-4 bg-stone-300 hover:brightness-75 active:brightness-50">
            Back
        </button>
        <div hx-get="/r/opus/tasks" hx-trigger="load" hx-target="#opus-category" hx-swap="outerHTML" class="w-full mt-4 flex-1 flex flex-col gap-2">
            {{ template "opus-category" }}
            <div class="border-t-2 border-stone-500 pt-2 px-4">
                <form id="add_category_form" x-show="$store.Opus.addCategoryState" class="w-full gap-1 flex">
                    <input class="w-5/6 p-2" type="text" name="name" placeholder="New Category" autocomplete="off" title="Category Name" required>
                    <input class="w-1/6 p-2" type="number" name="priority" placeholder="0-9" autocomplete="off" title="Category Priority">
                    <button aria-label="Cancel Add Category" type="button" @click="$store.Opus.toggleAddCategory()" ><i class="fa-solid fa-circle-xmark text-rose-400"></i></button>
                    <button aria-label="Submit Add Category" type="submit" @click="$store.Opus.toggleAddCategory()" hx-on::after-request="resetAddCategoryForm()" hx-post="/r/opus/category" hx-target="#opus-category" hx-swap="outerHTML"><i class="fa-solid fa-circle-check text-emerald-400"></i></button>
                </form>
                <button x-show="!$store.Opus.addCategoryState" @click="$store.Opus.toggleAddCategory()" class="hover:underline underline-offset-4"><i class="fa-solid fa-plus"></i> Add a Category</button>
            </div>
        </div>
        <div class="w-full p-4 flex flex-col items-start gap-1 bg-stone-300">
            <button class="hover:underline hover:underline-offset-4">Settings</button>
            <button class="hover:underline hover:underline-offset-4">Archived</button>
        </div>
    </aside>
    {{ template "opus-main" . }}
    <script>
        function init() {
            return Alpine.store("Opus", {
                addCategoryState: false,
                categories: {},
                tasks: {},
                initCategory(id) {
                    this.categories[`category${id}`] = {
                        "delete_category": false,
                        "show_task": false,
                        "add_task": false
                    }
                },
                initTask(id) {
                    this.tasks[`task${id}`] = {
                        "delete_task": false,
                        "show_child_task": false,
                        "add_child_task": false
                    }
                },
                toggleAddCategory() {
                    this.addCategoryState = !this.addCategoryState
                },
                toggleAddTask(id) {
                    this.categories[`category${id}`]["add_task"] = !this.categories[`category${id}`]["add_task"]
                },
                toggleDeleteCategory(id) {
                    this.categories[`category${id}`]["delete_category"] = !this.categories[`category${id}`]["delete_category"]
                },
                toggleShowTask(id) {
                    this.categories[`category${id}`]["show_task"] = !this.categories[`category${id}`]["show_task"]
                },
                toggleAddChildTask(id) {
                    this.tasks[`task${id}`]["add_child_task"] = !this.tasks[`task${id}`]["add_child_task"]
                },
                toggleDeleteTask(id) {
                    this.tasks[`task${id}`]["delete_task"] = !this.tasks[`task${id}`]["delete_task"]
                },
                toggleShowChildTask(id) {
                    this.tasks[`task${id}`]["show_child_task"] = !this.tasks[`task${id}`]["show_child_task"]
                }
            })
        }
            
        function resetAddCategoryForm() {
            document.getElementById('add_category_form').reset()
        }
    </script>
</div>
{{ end }}